<?xml version="1.0" ?>

<model>
  <name>Marker 4</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Sacchin Sundar</name>
    <email>sacchin2@gmail.com</email>
  </author>

  <description>
    This is a model of an ARUCO marker 6X6 1000 with ID 4
  </description>
</model>